<!DOCTYPE html>
<html lang="it">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}Corso Aspiranti Radioamatori 2025{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Corso Aspiranti Radioamatori 2025</h1>
        <h2>Formazione ARI CRT</h2>
    </header>

    <div class="content">
        {% block content %}
            {% endblock %}
    </div>

    <footer>
        <p>&copy; 2025 Formazione <a href="https://www.ari-crt.it/wp/">ARI CRT</a> - Tutti i diritti riservati.</p>
    </footer>
</body>
</html>