{% extends 'lezioni/base.html' %}

{% block title %}Lista delle Lezioni{% endblock %}

{% block content %}
    <div class="filter-section">
        <label for="titolo-filter">Filtra per Titolo:</label>
        <input type="text" id="titolo-filter">

        <!--<label for="numero-filter">Filtra per Numero:</label>
        <input type="number" id="numero-filter">-->
    </div>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Titolo</th>
                    <th>Docente</th>
                    <th>Video</th>
                    <th>Slide</th>
                    <th>Domande</th>
                    <th>Risposte</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody id="lezioni-table-body">
                {% for lezione in lezioni %}
                <tr data-numero="{{ lezione.numero }}" data-titolo="{{ lezione.titolo|lower }}">
                    <td>{{ lezione.numero }}</td>
                    <td>{{ lezione.titolo }}</td>
                    <td title="{{ lezione.docente.nominativo }}">{{ lezione.docente }}</td>
                    <td>
                        {% if lezione.url_video %}
                            <a href="{{ lezione.url_video }}" target="_blank" aria-label="Guarda il video su YouTube">
                                <i class="fab fa-youtube fa-2x video-icon"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if lezione.file_slide %}
                            <a href="{{ lezione.file_slide.url }}" target="_blank" aria-label="Scarica le slide">
                                <i class="fas fa-file-pdf fa-2x download-icon"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if lezione.file_domande %}
                            <a href="{{ lezione.file_domande.url }}" target="_blank" aria-label="Scarica le domande">
                                <i class="fas fa-question-circle fa-2x download-icon"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if lezione.file_risposte %}
                            <a href="{{ lezione.file_risposte.url }}" target="_blank" aria-label="Scarica le risposte">
                                <i class="fas fa-check-circle fa-2x download-icon"></i>
                            </a>
                        {% endif %}
                    </td>

                    <td>{{ lezione.data_lezione }}</td>
                </tr>
                {% empty %}
                <tr><td colspan="7">Nessuna lezione disponibile al momento.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const titoloInput = document.getElementById('titolo-filter');
            const numeroInput = document.getElementById('numero-filter');
            const tableBody = document.getElementById('lezioni-table-body');
            const rows = tableBody.querySelectorAll('tr');

            function filterTable() {
                const titoloFilter = titoloInput.value.toLowerCase();
                const numeroFilter = numeroInput.value;

                rows.forEach(row => {
                    const titolo = row.dataset.titolo;
                    const numero = row.dataset.numero;
                    let match = true;

                    if (titoloFilter && !titolo.includes(titoloFilter)) {
                        match = false;
                    }

                    if (numeroFilter && numero !== numeroFilter) {
                        match = false;
                    }

                    row.style.display = match ? '' : 'none';
                });
            }

            titoloInput.addEventListener('input', filterTable);
            numeroInput.addEventListener('input', filterTable);
        });
    </script>
{% endblock %}